<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <div class="container">
        <div class="row">
            <h5 class="my-0 mr-md-auto font-weight-normal">Пятерочка</h5>
            <nav class="ms-5">
               <ul>
                    <li><a href="{% url 'catalog:home' %}" class="text-black">Главная</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}" class="text-black">Выйти</a></li>
                    {% else %}
                    <li><a href="{% url 'users:login' %}" class="text-black">Войти</a></li>
                    <li><a href="{% url 'users:registration' %}" class="text-black">Регистрация</a></li>
                    <li><a href="{% url 'users:reset' %}" class="text-black">Восстановить пароль</a></li>
                    {% endif %}
                    <li><a href="/admin/" class="text-black">Админка</a></li>
                    <li><a href="{% url 'catalog:home' %}" class="text-black">Товары</a></li>
                    <li><a href="{% url 'catalog:w' %}" class="text-black">Контакты</a></li>
                    <li><a href="{% url 'catalog:blg' %}" class="text-black">Публикации</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>