{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for blog in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Публикации</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ blog }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    </ul>
                    <li><a href="{% url 'catalog:blog_detail' blog.pk %}" type="button"
                           class="btn btn-lg btn-block btn-outline-secondary">Посмотреть</a></li>
                    <li><a href="{% url 'catalog:update' blog.pk %}" type="button"
                           class="btn btn-lg btn-block btn-outline-secondary">Редактировать</a></li>
                    <li><a href="{% url 'catalog:delete' blog.pk %}" type="button"
                           class="btn btn-lg btn-block btn-outline-secondary">Удалить</a></li>
                </div>
                {% if blog.is_published %}
                <a class="btn btn-warning" href="{% url 'catalog:toggle_published' blog.pk %}">Отменить
                    публикацию</a>
                {% else %}
                <a class="btn btn-success" href="{% url 'catalog:toggle_published' blog.pk %}">Опубликовать</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}
